<?xml version="1.0" encoding="UTF-8"?>

<window id="4">

	<include>Common_Window</include>
	<defaultcontrol always="true">9000</defaultcontrol>

	<controls>
	
		<control type="group">

			<include>Common_Settings_Background</include>
			
			<!--Menu-->
			<control type="group">
			
				<include>Common_Settings_Header_Back</include>
			
				<control type="label">
		
					<include>Common_Settings_Header</include>
					<label>Settings</label>
					
				</control>
				
				<control type="grouplist" id="9000">
					
					<description>grouplist for context buttons</description>
					<posx>0</posx>
					<posy>100</posy>
					<width>420</width>
					<height max="600">auto</height>
					<itemgap>0</itemgap>
					
					<control type="button" id="9001">
					
						<include>Common_Settings_Menu</include>
						<label>$LOCALIZE[480]</label>
						<onclick>activatewindow(AppearanceSettings)</onclick>
						
					</control>
					
					<control type="button" id="9002">
					
						<include>Common_Settings_Menu</include>
						<label>personalize</label>
						<onclick>activatewindow(SkinSettings)</onclick>
						
					</control>
					
					<control type="button" id="9003">
					
						<include>Common_Settings_Menu</include>
						<label>$LOCALIZE[3]</label>
						<onclick>activatewindow(VideosSettings)</onclick>
						
					</control>
					
					<control type="button" id="9004">
					
						<include>Common_Settings_Menu</include>
						<label>$LOCALIZE[2]</label>
						<onclick>activatewindow(MusicSettings)</onclick>
						
					</control>
					
					<control type="button" id="9005">
					
						<include>Common_Settings_Menu</include>
						<label>live tv</label>
						<onclick>ActivateWindow(PVRSettings)</onclick>
						
					</control>
					
					<control type="button" id="9006">
					
						<include>Common_Settings_Menu</include>
						<label>$LOCALIZE[24001]</label>
						<onclick>activatewindow(AddonBrowser)</onclick>
						
					</control>
					
					<control type="button" id="9007">
					
						<include>Common_Settings_Menu</include>
						<label>$LOCALIZE[1]</label>
						<onclick>activatewindow(PicturesSettings)</onclick>
						
					</control>
					
					<control type="button" id="9008">
					
						<include>Common_Settings_Menu</include>
						<label>$LOCALIZE[8]</label>
						<onclick>activatewindow(WeatherSettings)</onclick>
						
					</control>
					
					<control type="button" id="9009">
					
						<include>Common_Settings_Menu</include>
						<label>$LOCALIZE[14036]</label>
						<onclick>activatewindow(ServiceSettings)</onclick>
						
					</control>
					<control type="button" id="9010">
					
						<include>Common_Settings_Menu</include>
						<label>$LOCALIZE[13000]</label>
						<onclick>activatewindow(SystemSettings)</onclick>
						
					</control>
					
					<control type="button" id="9011">
					
						<include>Common_Settings_Menu</include>
						<label>$LOCALIZE[13200]</label>
						<onclick>activatewindow(Profiles)</onclick>
						
					</control>
					
					<control type="button" id="9012">
					
						<include>Common_Settings_Menu</include>
						<label>$LOCALIZE[130]</label>
						<onclick>activatewindow(SystemInfo)</onclick>
						
					</control>
					
				</control>
				
			</control>
			
		</control>	
		
	</controls>

</window>